* {
  box-sizing: border-box;
}

.logolinks {
  height: 100vh;
  width: 100%;
  background-image: url(https://www.divessi.com/fileadmin/content_ssi/Website/4_Freediving/01_Landingpage/_Neu_Teaser_Slider_Freediving_3_Mobile.jpg);
  background-size: cover;
  padding: 50px 40px;
}

/* .transbox {
  width: 100%;
  height: 50%;
  margin: 0px;
  padding: 0px;
  background-color: #36728a;

  /* for IE */
/* filter: alpha(opacity=60); */
/* CSS3 standard */
/* opacity: 0.6;
/* } */

nav .Logo img {
  height: 100px;
  widows: 60px;
}

body {
  margin: 0;
}

.links ul li {
  display: inline;
}

.Logo,
.links {
  display: inline-block;
}

nav .links ul li a {
  color: white;
  text-decoration: none;
}

nav.logolinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;
}

nav .links ul li:last-of-type {
  margin-right: 0;
}

nav .links ul li {
  margin-right: 30px;
  font-size: x-large;
}

.love {
  color: black;
  font-size: 30px;
  margin: 30px;
  padding: 40px;
  border-bottom: 6px solid #0d3342;
  background-color: lightgrey;
}

.video {
  display: block;
  margin-left: 200px;
  margin-left: 200px;
}

.pic {
  width: 48%;
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 18px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(3, 300px);
  /*grid-column-gap: 15px;
  grid-row-gap: 15px; */
  grid-gap: 15px;
  margin-left: 85px;
}

.galleryimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

table {
  width: 1000px;
}

tr {
  text-align: center;
}

table,
th,
tr,
td {
  border: 1px solid black;
  border-collapse: collapse;
  margin-left: 50px;
  margin-top: 25px;
}

th,
tr,
td {
  padding: 15px 80px;
  text-align: center;
}

th {
  background-color: grey;
  color: white;
}

strong {
  font-size: 30px;
  color: grey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
}

form {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
